*body{
  box-sizing: border-box;
}
.wrap{
  background-color: #222222;
  display: flex;
}
.head{
  width: auto;
  height: 400px;
  background-color: #E9E7E2;
}
.title{
  width: 50%;
  color: #F7F5F0;
  border: 5px solid #222222;
  padding-left: 10px;
}

.title a{
  color: inherit;
  text-decoration: none;
}

.menu{
  width: 50%;
  border: 5px solid #222222;
  text-align: right;
  color: #F7F5F0;
  & > a{
    color: #F7F5F0;
    text-decoration: none;
    padding-right: 10px;
  }
  &:hover{
    cursor: pointer;
    color:#D6BE96
  }
}

.menu a.active{
  color: #D6BE96;
  font-weight: bolder;
}

.banner{ 
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.button{
  text-align: center;
}
.recommend{
  width: 100%;
  height: 500px;
  margin: 20px;
}
.card_wrap{
  display: flex;
  padding: 30px;
  gap: 10px;
}
.card{
  width: 550px;
  margin: 0 auto;
  height: 350px;
  box-sizing: border-box;
  border: 1px solid #d6c6b4;
}
.card img{
  width: 100%;
  height: 250px;
}
.card p{
  margin: 0;
  margin-left: 15px;
  padding: 2px;
}

.price{
  color: red;
  font-weight: 900;
}

.Catchy{
  margin: 20px;
}

.Catchy_wrap{
  display: flex;
}

.Catchy_left{
  width: 800px;
  margin: 20px;
}

.Catchy_left img{
  width: 100%;
  height: 300px;
}

.Catchy_right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Catchy_right p{
  margin: 5px;
}

table {
  margin: 5px;
  border-collapse: collapse;
  table-layout: fixed;
}

td{
  border: 1px solid black;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.footer{
  background-color: #222222;
  margin: 0;
}

.footer p{
  color: #F7F5F0;
  padding: 20px;
  font-size: 15px;
}